VITE_SUPABASE_URL=https://wkvwnqtdvbfadzzdbice.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrdnducXRkdmJmYWR6emRiaWNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MTg5MTIsImV4cCI6MjEwNTI5NDkxMn0.NmXx3-jzYGcN6En-HC0cHtRpPYb6bQGyeSIeB1bymB4